:root {
	--note-color: rgb(116, 94, 218);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

body {
	padding: 2rem;
}

h1 {
	margin-bottom: 2rem;
}

fieldset {
	padding: 2em;
	border: solid 1px #ccc;
	min-width: 300px;
	border-radius: 6px;
	background-color: #eee;
}

legend {
	padding: 0 .25em;
	color: #333;
}

label {
	display: block;
	padding-top: .5em;
	margin-bottom: .3rem;
}

input {
	padding: .5em;
	border: 1px solid #999;
	width: 100%;
}

input:invalid {
	color: darkred;
	background-color: rgb(139, 0, 0, 0.1);
}

.row {
	margin-bottom: 1rem;
}

.buttonRow {
	margin-top: 2rem;
	display: flex;
	justify-content: space-between;
}

.note {
	color: var(--note-color); 
}

.noteExplanation {
	color: var(--note-color); 
}

button {
	padding: .5rem;
}

/* smartphone view */
@media (max-width: 577px) {
	h1 {
		font-size: 1.3rem;
		text-align: center;
	}

	legend {
		font-size: 1.2em;
	}
}

/* computer/table view */
@media (min-width: 578px) {
	h1 {
		font-size: 1.5rem;
	}

	legend {
		font-size: 1.4em;
	}

	fieldset {
		max-width: 40rem;
	}
}